*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background: black;
}
.container{
    width: 100%;
    height: 100vh;
    background:url("img/lebet.jpeg") no-repeat right ;

}
.navbar{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 5%;
    border-radius:50%;
}
ul{
    list-style: none;
}
li{
    display:inline-block ;
    padding: 1.3rem;
}
a{
    text-decoration: none;
    color: gold;
     text-transform:uppercase ;
    font-size: 0.8rem;
}
h1{
    font-size: 4rem;
    color: #a9a9a959;
    position: absolute;
    top: 31%;
    left: 48%;
    transform: translate(-50%,-50%);
}
h1::before{
   content: attr(content);
    position: absolute;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #ffffff;
    color: #ffffff;
    animation: move 9s linear infinite;
 filter: drop-shadow(0 0  20px rgba(98, 219, 236, 0.81))
 drop-shadow(0 0  30px rgba(98, 219, 236, 0.81));


}
@keyframes mover {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.btn{
    position: absolute;
    left: 44%;
    top: 55%;
    transform: translate(-50%,-50%);
    outline: none;
    padding: 10px 20px;
    border: 3px solid rgb(174 233 242 / 81%);
    border-radius: 10px;
    background: transparent;
    color: #ffffff;
    font-size: 1.3rem;
    cursor: pointer;
}
.btn:hover{
    filter: drop-shadow(0 0 20px rgb(174 233 242 / 81%));
}
